.table {
    font-size: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid2 {
  display: grid;
  grid-template-columns: 0.3fr 6fr;
}
.grid3 {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}
.grid4 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.cell {
  display: block;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  text-decoration: none;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.cell:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
	transform: translateY(-0.1875em);
}

.name {
  color: #000;
}
.place {
  background-color: lightblue;
  border-radius: 10px;
}

.time {
    writing-mode: vertical-rl;
}

.color {
    background-color: DarkOrange;
}
.height-for-footer {
    padding-bottom: 500px;
}
.inline-block {
    display: inline-block;
    margin-right: 20px;
}

.pen {
    margin: 0 20px 70px auto;
    background-color: #FEC18A  ;
    width: 4rem;
    border-radius: 50%;
}
.search.icon {
  color: #000;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 12px;
  height: 12px;
  border: solid 1px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.search.icon:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 6px;
  width: 1px;
  background-color: currentColor;
}
.search-button {
  position: relative;
  padding: 0px;
  width: 35px;
  height: 29px;
  vertical-align:top;
  border-radius: 10%;
}
.create-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: block;
  background-color: #FEC18A  ;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .2);
  z-index: 10;
}
.create-button:after {
  content: "+";
  color: white;
  position: absolute;
  font-size: 40px;
  left: 32%;  
}
.create-button:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.heart-icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  margin-left: 5px;
  width: 13px;
  height: 13px;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  background-color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.heart-icon:before {
  content: '';
  position: absolute;
  top: -9px;
  left: -1px;
  width: 13.4px;
  height: 10px;
  border-radius: 7px 7px 0 0;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  background-color: white;
}
.heart-icon:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 11px;
  width: 10px;
  height: 13px;
  border-radius: 0 9px 9px 0;
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  background-color: white;
}
.delete {
  background-color: red;
}
.delete:before {
  background-color: red;
}
.delete:after {
  background-color: red;
}

.chat.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 4px;
  width: 20px;
  height: 15px;
  border: solid 1px currentColor;
  border-radius: 2px;
}
.chat.icon:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 11px;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
  border-bottom: solid 1px currentColor;
  border-right: solid 1px currentColor;
}
/* Q&Aの回答の編集フォーム */
.editFrom {
  display: none;
}
/* マイページの名前編集フォーム */
#editUserForm {
  display: none;
}

.pagination {
    display: flex;
    justify-content: center;
}
.title {
    padding-left: 20px;
}

/* 時間割に授業を追加する */
.add-class:hover {
    transform: translateY(-5px);
    box-shadow: 0px 2px 3px lightgray;
    transition-duration: 0.3s;
}

.th {
    text-align: center;
}

.class-show {
    margin-left: 30px;
    margin-top: 30px;
}
.class-title {
    font-size: xx-large;
}
.review-show {
    display: block;
}
.button-parent {
    display: flex;
    justify-content: center;
}

/* 登録、更新ボタン等の色設定 */
.button-all {
    background-color: #00cc74;;
}

/* 単位取得難度の★ */
.difficulty_level {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .difficulty_level input[type=radio] {
    display: none;
  }
  .difficulty_level label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
  }
  .difficulty_level label:hover {
    color: #ffcc00;
  }
  .difficulty_level label:hover ~ label {
    color: #ffcc00;
  }
  .difficulty_level input[type=radio]:checked ~ label {
    color: #ffcc00;
  }

  /* 授業の面白さの★post */
  .interesting {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .interesting input[type=radio] {
    display: none;
  }
  .interesting label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
  }
  .interesting label:hover {
    color: #ffcc00;
  }
  .interesting label:hover ~ label {
    color: #ffcc00;
  }
  .interesting input[type=radio]:checked ~ label {
    color: #ffcc00;
  }

  /* 科目区分２を縦並びに */
  .division3 {
    display: flex;
    flex-direction: column;
  }
  .division2 {
    display: flex;
    flex-direction: column;
  }

  .button-credited {
    font-size: 10px;
  }